# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore


.venvs/
__pycache__/
__MACOSX/

.cache/
.github/
arena_python_pkg/
ArenaSDK_Linux_x64/
cudnn-linux-x86_64-8.9.7.29_cuda12-archive/
granule_analysis/


/backup/
/hojun_venv/
/image_bucket/
/install_test/
!install_test/sampyo_deploy.sh
!install_test/sampyo_setup_and_deploy_test.sh
!install_test/sampyo_setup_and_deploy.sh
!install_test/sampyo_setup.sh
install_testtest/
/logs/
/MaskDINO/
/quantity_analysis/
/references/
/result/
/sam2/
/seg_model/
/test/
/utils/
/weights/
arena_api-2.5.9-py3-none-any.whl
cuda-repo-ubuntu2004-12-4-local_12.4.1-550.54.15-1_amd64.deb
cudnn-linux-x86_64-8.9.7.29_cuda12-archive.tar.xz
Lucid_Broadcom_Driver_Package_v226.tar.gz
offline_installation_dependencies.zip
python-onvif-zeep.zip
README
/server_socket.service
socket_restart.sh
weights.zip



python-onvif-zeep/*
!/python-onvif-zeep/cam_move
!/python-onvif-zeep/depthai_cam


!python-onvif-zeep/socket
python-onvif-zeep/socket/docs
python-onvif-zeep/socket/examples
python-onvif-zeep/socket/granule_analysis
python-onvif-zeep/socket/image_bucket
python-onvif-zeep/socket/image_bucket
python-onvif-zeep/socket/MaskDINO
python-onvif-zeep/socket/quantity_analysis
python-onvif-zeep/socket/result

python-onvif-zeep/socket/socket
python-onvif-zeep/socket/toinstall
python-onvif-zeep/socket/weights
python-onvif-zeep/socket/LICENSE.txt
python-onvif-zeep/socket/persist.json
python-onvif-zeep/socket/pyproject.toml
python-onvif-zeep/socket/setup.py
python-onvif-zeep/socket/weights.zip

!python-onvif-zeep/socket/config
!python-onvif-zeep/socket/references
!python-onvif-zeep/socket/sampyo_project_code
!python-onvif-zeep/socket/test
!python-onvif-zeep/socket/utils

!python-onvif-zeep/socket/sam2
python-onvif-zeep/socket/sam2/assets
python-onvif-zeep/socket/sam2/checkpoints
python-onvif-zeep/socket/sam2/demo
python-onvif-zeep/socket/sam2/image_bucket
python-onvif-zeep/socket/sam2/maskdino
python-onvif-zeep/socket/sam2/mv_rgb
python-onvif-zeep/socket/sam2/result
python-onvif-zeep/socket/sam2/SAM_2.egg-info
python-onvif-zeep/socket/sam2/sam2
python-onvif-zeep/socket/sam2/sav_dataset
python-onvif-zeep/socket/sam2/tools
python-onvif-zeep/socket/sam2/training
python-onvif-zeep/socket/sam2/notebooks
python-onvif-zeep/socket/sam2/.clang-format
python-onvif-zeep/socket/sam2/.watchmanconfig
python-onvif-zeep/socket/sam2/backend.Dockerfile
python-onvif-zeep/socket/sam2/CODE_OF_CONDUCT.md
python-onvif-zeep/socket/sam2/CONTRIBUTING.md
python-onvif-zeep/socket/sam2/docker-compose.yaml
python-onvif-zeep/socket/sam2/INSTALL.md
python-onvif-zeep/socket/sam2/LICENSE
python-onvif-zeep/socket/sam2/LICENSE_cctorch
python-onvif-zeep/socket/sam2/MANIFEST.in
python-onvif-zeep/socket/sam2/persist.json
python-onvif-zeep/socket/sam2/pyproject.toml
python-onvif-zeep/socket/sam2/RELEASE_NOTES.md
python-onvif-zeep/socket/sam2/setup.py


# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv