[Unit]
Description=Socket server for snapshot 
After=cam_move.service
[Service]
Type=simple
ExecStart=/home/sdt/Workspace/onvif/python-onvif-zeep/socket/sam2/server_socket.sh
Restart=on-failure
WorkingDirectory=/home/sdt/Workspace/onvif/python-onvif-zeep/socket/sam2
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
